<div *ngIf="team">

    <h2>{{team.name | uppercase}} Details</h2>
    <div><span>id: </span>{{team.id}}</div>
    <div>
      <label for="team-name">Team name: </label>
      <input id="team-name" [(ngModel)]="team.name" placeholder="Team name">
    </div>

    <h3>Players:</h3>
    <ul class = "team-players">
      <li *ngFor="let player of team.players">
        <a routerLink="/detail/{{player.id}}">
          <span class="badge">{{player.id}}</span> {{player.firstName}} {{player.lastName}}
        </a>
      </li>
  </ul>
  
    <button type="button" (click)="save()">save</button>

    <button type="button" (click)="goBack()">go back</button>


</div>