<div *ngIf="gameDetail" class="header">
    <h2>{{gameDetail.myTeam.name}} vs {{gameDetail.opponentTeam.name}} {{gameDetail.date}}</h2>
</div>

<div *ngIf="gameDetail" class="button-panel">
  <div class="toggle-container">
    <span class="toggle-label">Opponent View</span>
    <label class="toggle-switch">
      <input type="checkbox" (click)="toggleOpponentView()"/>
      <span class="slider"></span>
    </label>
  </div>
  <button type="button" (click)="goBack()">Start Game</button>
  <button type="button" (click)="goBack()">go back</button>
</div>

<div class="container">

  <div class="formation-display-canvas-wrapper">
    <canvas #myCanvas width={{gameDetailFieldWidth}} height={{gameDetailFieldHeight}}></canvas>
    <script src="./game-detail.component.ts"></script>
  </div>

  <div *ngIf="gameDetail" class="my-players-stats-container">
    <h3>{{gameDetail.myTeam.name}} Players Stats:</h3>
    <div>    
      <!-- AG Grid for player data -->
        <ag-grid-angular
          style="width: 625px; height: 800px;"
          class="ag-theme-quartz"
          [rowData]="myTeamRowData"
          [columnDefs]="colDefs"
          [defaultColDef]="defaultColDef">
        </ag-grid-angular>
    
      </div>

  </div>

  <div *ngIf="gameDetail && toggleOpponentTeamView" class="opponent-player-stats-container">
    <h3>{{gameDetail.opponentTeam.name}} Players Stats:</h3>
      <div>    
        <!-- AG Grid for player data -->
          <ag-grid-angular
            style="width: 625px; height: 800px;"
            class="ag-theme-quartz"
            [rowData]="opponentTeamRowData"
            [columnDefs]="colDefs"
            [defaultColDef]="defaultColDef">
          </ag-grid-angular>
      
        </div>  
    
  </div>
      
</div>
